/*
   index.html
   
   Copyright 2013
   Sergio Navarrete Suárez <shnavarretes@correo.udistrital.edu.co>
   Luisa Vélez <lcvelezh@correo.udistrital.edu.co>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
*/

/* Font faces */

@font-face
{
font-family: kite;
src: url('../font/kite/KiteOne-Regular.ttf')
    ,url('../font/kite/KiteOne-Regular.eot'); /* IE9 */
}

/* End of font faces */

body {
	background: url(../img/escritorio.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#inst_grp {
	position: absolute;
	right: 0%;
	top: 0%;
}

.inst_box {
	height: 255px;
	width: 210px;
	background-color: #FFF;
	border: 1px solid black;
	position: absolute;
}

#inst_box_encuadre {
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg); /* Safari and Chrome */
	right: 419px;
	top: 19px;
}

#inst_box_foco {
	transform:rotate(14deg);
	-ms-transform:rotate(14deg); /* IE 9 */
	-webkit-transform:rotate(14deg); /* Safari and Chrome */
	right: 68px;
	top: 45px;
}

#inst_box_profcampo {
	transform:rotate(-25deg);
	-ms-transform:rotate(-25deg); /* IE 9 */
	-webkit-transform:rotate(-25deg); /* Safari and Chrome */
	right: 228px;
	top: 175px;
}

.inst_box img {
	margin: 5.7%;
	width: 88.6%;
	height: 72.95%;
}

.inst_box span {
	font-family: kite;
	margin-left: 8%;
}

#inst_box_foco span {
	margin-left: 60%;
}

#roll_grp {
	position: absolute;
	left: 10%;
	bottom: 10%;
}

#roll {
	background: url(../img/photoroll.svg);
	background-size: 100%;
	width: 246px;
	height: 120px;
	position: absolute;
	left: 80px;
	bottom: 110px;
	transform:rotate(34deg);
	-ms-transform:rotate(34deg); /* IE 9 */
	-webkit-transform:rotate(34deg); /* Safari and Chrome */
}

#postit {
	background-color: #F2E37B;
	height: 260px;
	width: 260px;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Safari and Chrome */
	z-index: -1;
}

#postit span {
	font-family: kite;
	font-size: 150%;
	position: relative;
	bottom: -62%;
	left: 8%;
}

#roll img {
	width: 44.8%;
}

#neg1 {
	margin-left: 3.6%;
	margin-top: 6.5%;
}

#neg2 {
	margin-left: 0.3%;
}

/** General **/
/* Shadow */
.shad {
	-webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}

