/*
   main.css
   
   Copyright 2013
   Sergio Navarrete Suárez <shnavarretes@correo.udistrital.edu.co>
   Luisa Vélez <lcvelezh@correo.udistrital.edu.co>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
*/

/* Font faces */

@font-face {
font-family: actor;
src: url('../font/actor/Actor-Regular.ttf')
    ,url('../font/actorActor-Regular.eot'); /* IE9 */
}

@font-face {
font-family: arch_daughter;
src: url('../font/arch_daughter/ArchitectsDaughter.ttf')
    ,url('../font/arch_daughter/ArchitectsDaughter.eot'); /* IE9 */
}

/* End of font faces */

/** General classes **/
/* Shadow */
.shad_s {
	-webkit-box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, 0.8);
	box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, 0.8);
}
.shad_m {
	-webkit-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.8);
	box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.8);
}
.shad_l {
	-webkit-box-shadow:  0px 0px 7px 1px rgba(0, 0, 0, 0.8);
	box-shadow:  0px 0px 7px 1px rgba(0, 0, 0, 0.8);
}

.shad_drop {
	-webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.8));
}
.shad_drop_s {
	-webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.8));
}

.link {
	cursor:pointer;
}

.link_over {
	z-index:4;
}

span, label {
	font-family: arch_daughter;
}

span.bubble_icon{
	background: url(../img/bubble.png) no-repeat 15%;
}
span.play_icon{
	background: url(../img/play.png) no-repeat 19%;
}
span.vcam_icon{
	background: url(../img/vcam.png) no-repeat 24%;
}

div.contain {
	background-size: contain;
	background-repeat: no-repeat;
}

h2 {
	font-family: arch_daughter;
}

h2 {
	font-family: actor;
}

.text_block {
	height: 75%;
	margin: 5%;
	overflow-y: auto;
}

/** End of general classes **/

body {
	background: url(../img/escritorio.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

/** Objects **/
/* Pencils */
#pencils {
	position: absolute;
	left: 0%;
	top: 0%;
	z-index:3;
}

.pencil {
	width: 450px;
	height: 23px;
	position:absolute;
}

#pencil_black {
	background: url(../img/lapiz_n.svg);
	top: 71px;
	left: -15px;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Safari and Chrome */
}

#pencil_red {
	background: url(../img/lapiz_r.svg);
	top: 41px;
	left: -25px;
	transform:rotate(-11deg);
	-ms-transform:rotate(-11deg); /* IE 9 */
	-webkit-transform: rotate(-11deg); /* Safari and Chrome */
}

.pencil span {
	position: relative;
	left: 50%;
	color: rgba(255, 255, 255, 0.8);
}

#eraser {
	background-color: #D35539;
	width: 100px;
	height: 65px;
	position: absolute;
	left: 73px;
	top: 113px;
	border-radius: 10px;
	transform:rotate(-9deg);
	-ms-transform:rotate(-9deg); /* IE 9 */
	-webkit-transform: rotate(-9deg); /* Safari and Chrome */
}

#eraser span {
	color: #7A1600;
	position: relative;
	top: 34%;
	text-align: center;
	margin: auto;
	display: block;
	text-shadow: 0px 1px 1px #FF613D;
	font-weight: bold;
	font-size: 120%;
}
/* End of pencils */

/* Instants */
#insts {
	position: absolute;
	right: -50%;
	top: -100%;
}

#insts.pres {
	right: 0%;
	top: 0%;
}

.inst_box {
	height: 255px;
	width: 210px;
	background-color: #FFF;
	position: absolute;
}

#inst_box_encuadre {
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg); /* Safari and Chrome */
	right: 419px;
	top: 19px;
}

#inst_box_foco {
	transform:rotate(14deg);
	-ms-transform:rotate(14deg); /* IE 9 */
	-webkit-transform:rotate(14deg); /* Safari and Chrome */
	right: 68px;
	top: 45px;
}

#inst_box_profcampo {
	transform:rotate(-25deg);
	-ms-transform:rotate(-25deg); /* IE 9 */
	-webkit-transform:rotate(-25deg); /* Safari and Chrome */
	right: 228px;
	top: 175px;
}

.inst_box img {
	margin: 5.7%;
	width: 88.6%;
	height: 72.95%;
}

.inst_box span {
	margin-left: 8%;
}

#inst_box_foco span {
	margin-left: 60%;
}
/* End of Instants */

/* Roll group */
#roll_grp {
	position: absolute;
	left: -50%;
	bottom: -100%;
	right: auto;
	top: auto;
}

#roll_grp.pres {
	left: 10%;
	bottom: 10%;
	right: auto;
	top: auto;
}

#roll_grp.comp, #roll_grp.bibl {
	left: 75%;
	bottom: 60%;
}

#roll {
	background: url(../img/photoroll.svg);
	background-size: 100%;
	position: absolute;
	width: 246px;
	height: 120px;
	left: 80px;
	bottom: 110px;
	transform:rotate(34deg);
	-ms-transform:rotate(34deg); /* IE 9 */
	-webkit-transform:rotate(34deg); /* Safari and Chrome */
}

#postit {
	background-color: #F2E37B;
	height: 260px;
	width: 260px;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Safari and Chrome */
	z-index: -1;
}

#postit.bibl {
	display: none;
}

#postit span {
	font-size: 170%;
	position: relative;
	bottom: -62%;
	left: 4%;
}

#roll img {
	width: 44.8%;
}

#neg1 {
	margin-left: 3.6%;
	margin-top: 6.5%;
}

#neg2 {
	margin-left: 0.3%;
}
/* End of roll group */

/* Credits */
#luisa {
	width: 60%;
	position: absolute;
	right: -100%;
	top: -100%;
}

#luisa.credits {
	right: 5%;
	top: 5%;
}

#luisa .credits_photo {
	float: right;
	transform:rotate(11deg);
	-ms-transform:rotate(11deg); /* IE 9 */
	-webkit-transform:rotate(11deg); /* Safari and Chrome */
}

#sergio {
	width: 60%;
	position: absolute;
	bottom: -100%;
	left: -100%;
}

#sergio.credits {
	bottom: 10%;
	left: 10%;
}

#sergio .credits_photo {
	position: absolute;
	bottom: 14%;
	left: -4%;
	transform:rotate(11deg);
	-ms-transform:rotate(11deg); /* IE 9 */
	-webkit-transform:rotate(11deg); /* Safari and Chrome */
}

.credits_photo {
	position: relative;
	z-index: 2;
}

.credits_card {
	padding: 4% 0% 0% 4%;
	background-image: url(../img/card.svg);
	background-size: 100%;
	transform:rotate(-8deg);
	-ms-transform:rotate(-8deg); /* IE 9 */
	-webkit-transform:rotate(-8deg); /* Safari and Chrome */
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 24%;
	width: 46%;
	height: 68%;
}

.credits_card_wrapper {
	padding-bottom: 44%;
	position: relative;
}

.credits_card span {
	font-weight: bold;
	color: #ff4e00;
}

.credits_card .email {
	color: #666;
	position: relative;
	left: 15%;
}

#cc_logo {
	background-image: url(../img/by-sa.svg);
	background-size: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0%;
}

#cc_logo_wrapper {
	padding-bottom: 8.77%;
	position: absolute;
	bottom: -100%;
	right: -100%;
	width: 25%;
}

#cc_logo_wrapper.credits {
	bottom: 5%;
	right: 5%;
}
/* End of credits */

/* Sheet */
#sheet {
	background: url(../img/hoja.svg);
	width: 708px;
	height: 675px;
	background-size:100%;
	position: absolute;
	left: 20%;
	top: -200%;	
}

#sheet.comp, #sheet.bibl {
	top: 30%;
}

#sheet h2, #sheet p {
	margin: 2% 0 0 12% ;
}

#sheet img {
	width: 50%;
	position: absolute;
	bottom: 20%;
	left: -38%;
	transform:rotate(-15deg);
	-ms-transform:rotate(-15deg); /* IE 9 */
	-webkit-transform:rotate(-15deg); /* Safari and Chrome */
}

#sheet div {
	display: none;
}

#composition_text.comp {
	display: block;
}

#bibl_text.bibl {
	display: block;
}

/* End of sheet */

/* Contact sheet */
#contact_sheet {
	background: url(../img/contacto.svg);
	background-size:100%;
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg); /* IE 9 */
	-webkit-transform:rotate(-2deg); /* Safari and Chrome */
}

#contact_sheet_wrapper {
	padding-bottom: 52.75%;
	position:absolute;
	left: 10%;
	bottom: -250%;
	width: 75%;
}

#contact_sheet_wrapper.focus{
	bottom: -3%;
}

#exerc_label {
	right: -1%;
	position: absolute;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg);
	z-index:2;
}

.contact_photo {
	height: 39%;
	width: 27.5%;
	margin: 2.6% -3.5% 0.7% 6.1%;
	float: left;
	background-size:cover;
}

.contact_photo.opaque_3:before {
	content:"";
	opacity:0.3;
	height: 38.5%;
	width: 27.5%;
	position: absolute;
	background-size:cover;
}

#cf1:before {
	background-image: url(../img/foco/foco1.jpg);
}
#cf2 {
	background-image: url(../img/foco/ejemplo1.jpg);
	background-position: 83%;
}
#cf3:before {
	background-image: url(../img/foco/foco2.jpg);
}
#cf4 {
	background-image: url(../img/foco/ejemplo2.jpg);
	background-position: 27%;
}
#cf5:before {
	background-image: url(../img/foco/foco3.jpg);
}
#cf6 {
	background-image: url(../img/foco/ejemplo3.jpg);
	background-position: 54%;
}
#cf7 {
	background-image: url(../img/foco/foco4.jpg);
}
#cf8 {
	background-image: url(../img/foco/foco5.jpg);
}
#cf9 {
	background-image: url(../img/foco/foco6.jpg);
}

#contact_sheet span{
	font-family: arch_daughter;	
	z-index: 2;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	margin: 84% auto;
	font-size: 130%;
	display: block;
}

/* End of contact sheet */

/* Focus activity */
#focus_activity {
	display:none;
}

#focus_activity.focus.activ_grey {
	display:inline;
}

.grey_area {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000;
	opacity:0.7;
	z-index: inherit;
}

#focus_activity_photos img {
	position:absolute;
	left:5%;
	top:10%;
	width:90%;
}

#focus_photo_main {
	display:none;
}

.control {
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
}

.control label {
	color:white;
	margin: 0 2%;
}

#focus_activity_control {
	position:absolute;
	left: 5%;
	top: 10%;
	width: 50%;
}

#focus_activity_control input {
	width: 80%;
}

#focus_activity_show_general {
	position:absolute;
	right: 5%;
	top: 10%;
	width: 12%;
}

#focus_activity_desc {
	color: #fff;
	position: absolute;
	bottom: 0%;
	right: 5%;
	width: 90%;
	padding: 0;
	overflow-y: hidden;
	height: 5%;
}

#focus_activity_desc:hover {
	height: 50%;
}

#focus_activity_desc p {
	padding: 0 2%;
}

/* End of focus activity */

/* Definition */
#definition {
	display: none;
}

#definition.def_grey,
#definition.exmpl1_grey,
#definition.exmpl2_grey,
#definition.exmpl3_grey {
	display:inline;
}

.definition_text {
	position: absolute;
	color: #fff;
	width: 40%;
	right: 5%;
}

#definition img{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 40%;
}

#definition .definition_text, #definition img {
	display: none;
}

.focus_def.focus.def_grey,
.focus_exmpl1.focus.exmpl1_grey,
.focus_exmpl2.focus.exmpl2_grey,
.focus_exmpl2.focus.exmpl3_grey {
	display: block !important;
}

/* End of definition */


/** End of objects **/
