/*
   index.html
   
   Copyright 2013
   Sergio Navarrete Suárez <shnavarretes@correo.udistrital.edu.co>
   Luisa Vélez <lcvelezh@correo.udistrital.edu.co>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
*/

/* Font faces */

@font-face
{
font-family: kite;
src: url('../font/kite/KiteOne-Regular.ttf')
    ,url('../font/kite/KiteOne-Regular.eot'); /* IE9 */
}

/* End of font faces */

/** General classes **/
/* Shadow */
.shad_s {
	-webkit-box-shadow:  0px 0px 2px rgba(0, 0, 0, 0.8);
	box-shadow:  0px 0px 2px rgba(0, 0, 0, 0.8);
}
.shad_m {
	-webkit-box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.8);
	box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.8);
}
.shad_l {
	-webkit-box-shadow:  0px 0px 7px rgba(0, 0, 0, 0.8);
	box-shadow:  0px 0px 7px rgba(0, 0, 0, 0.8);
}

.shad_dr {
	-webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.8));
}

.link {
	cursor:pointer;
}

.link_over {
	transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2); /* IE 9 */
	-webkit-transform: scale(1.2,1.2); /* Safari and Chrome */
}

span {
	font-family: kite;
}
/** End of general classes **/

body {
	background: url(../img/escritorio.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

/** Objects **/
/* Pencils */
#pencils {
	position: absolute;
	left: 0%;
	top: 0%;
}

.pencil {
	width: 450px;
	height: 23px;
	position:absolute;
}

#pencil_black {
	background: url(../img/lapiz_n.svg);
	top: 71px;
	left: -15px;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Safari and Chrome */
}

#pencil_red {
	background: url(../img/lapiz_r.svg);
	top: 41px;
	left: -25px;
	transform:rotate(-11deg);
	-ms-transform:rotate(-11deg); /* IE 9 */
	-webkit-transform: rotate(-11deg); /* Safari and Chrome */
}

.pencil span {
	position: relative;
	left: 60%;
	color: rgba(255, 255, 255, 0.8);
}

#eraser {
	background-color: #D35539;
	width: 100px;
	height: 65px;
	position: absolute;
	left: 73px;
	top: 113px;
	border-radius: 10px;
	transform:rotate(-9deg);
	-ms-transform:rotate(-9deg); /* IE 9 */
	-webkit-transform: rotate(-9deg); /* Safari and Chrome */
}

#eraser span {
	color: #7A1600;
	position: relative;
	top: 34%;
	text-align: center;
	margin: auto;
	display: block;
	text-shadow: 0px 1px 1px #FF613D;
	font-weight: bold;
}
/* End of pencils */

/* Instants */
#insts {
	position: absolute;
	right: -50%;
	top: -100%;
}

#insts.pres {
	right: 0%;
	top: 0%;
}

.inst_box {
	height: 255px;
	width: 210px;
	background-color: #FFF;
	position: absolute;
}

#inst_box_encuadre {
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg); /* Safari and Chrome */
	right: 419px;
	top: 19px;
}

#inst_box_foco {
	transform:rotate(14deg);
	-ms-transform:rotate(14deg); /* IE 9 */
	-webkit-transform:rotate(14deg); /* Safari and Chrome */
	right: 68px;
	top: 45px;
}

#inst_box_profcampo {
	transform:rotate(-25deg);
	-ms-transform:rotate(-25deg); /* IE 9 */
	-webkit-transform:rotate(-25deg); /* Safari and Chrome */
	right: 228px;
	top: 175px;
}

.inst_box img {
	margin: 5.7%;
	width: 88.6%;
	height: 72.95%;
}

.inst_box span {
	margin-left: 8%;
}

#inst_box_foco span {
	margin-left: 60%;
}
/* End of Instants */

/* Roll group */
#roll_grp {
	position: absolute;
	left: -50%;
	bottom: -100%;
	right: auto;
	top: auto;
}

#roll_grp.pres {
	left: 10%;
	bottom: 10%;
	right: auto;
	top: auto;
}

#roll_grp.comp {
	left: 75%;
	bottom: 60%;
}

#roll {
	background: url(../img/photoroll.svg);
	background-size: 100%;
	position: absolute;
	width: 246px;
	height: 120px;
	left: 80px;
	bottom: 110px;
	transform:rotate(34deg);
	-ms-transform:rotate(34deg); /* IE 9 */
	-webkit-transform:rotate(34deg); /* Safari and Chrome */
}

#postit {
	background-color: #F2E37B;
	height: 260px;
	width: 260px;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Safari and Chrome */
	z-index: -1;
}

#postit span {
	font-size: 150%;
	position: relative;
	bottom: -62%;
	left: 8%;
}

#roll img {
	width: 44.8%;
}

#neg1 {
	margin-left: 3.6%;
	margin-top: 6.5%;
}

#neg2 {
	margin-left: 0.3%;
}
/* End of oll group */

/* Sheet */
#sheet {
	background: url(../img/hoja.svg);
	width: 708px;
	height: 675px;
	background-size:100%;
	position: absolute;
	left: 20%;
	top: -200%;
	
}

#sheet.comp {
	top: 30%;
}
/* End of sheet */
/** End of objects **/